<div id="index" class="section">
	<div class="nav-fixed-top">
		<a class="crown" href="#index"><img width="50" src="/assets/crown.png" /></a>
	</div>
	<div class="nav-bottom">
		<div class="nav-container">
			<h1>Chiddy Bang</h1>
<!-- 			<div class="nav-state">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div> -->
			<div class="slide-in">
				<ul>
					<li class="nav-news"><a href="/main/#news"><span class="nav-bar"></span>News</a></li>
					<li class="nav-shows"><a href="/main/#shows"><span class="nav-bar"></span>Shows</a></li>
					<li class="nav-music"><a href="/main/#music"><span class="nav-bar"></span>Music</a></li>
					<!-- <li class="nav-shop"><a href="#">Shop</a></li> -->
					<li class="nav-about"><a href="/main/#about"><span class="nav-bar"></span>About</a></li>
				</ul>
			</div>
			<!-- 
			<a href="/main/index">Index<i class="fa fa-chevron-down"></i></a>
			<a href="#music">Music<i style="margin-right: 0;" class="fa fa-chevron-down"></i></a> -->
			<div class="spacer"></div><!-- 
			<a href="#shows">Shows<i class="fa fa-chevron-down"></i></a>
			<a href="#about">About<i class="fa fa-chevron-down"></i></a> -->
			<div class="social-icons">
				<a href="#" class="fbicon icon"><img class="fbicon-img" src="/assets/fbicon_bg.png" /></a>
				<a href="#" class="twicon icon"><img class="twicon-img" src="/assets/twicon_bg.png" /></a>
				<a href="#" class="inicon icon"><img class="inicon-img" src="/assets/inicon_bg.png" /></a>
				<a href="#" class="piicon icon"><img class="piicon-img" src="/assets/piicon_bg.png" /></a>
			</div>
			<img class="social-ends" src="/assets/social_ends.png" />
		</div>
	</div>

<!-- <span class="helper"></span>
	<div class="home-img-chiddy" data-stellar-ratio="1.5"> </div>
	<div class="home-img-cut" data-stellar-ratio="1"> </div> -->
	<a class="index-continue" href="#news"><i class="fa fa-chevron-down"></i></a>
	<div class="home-img"></div>
</div>

<div id="news" class="section">
	<div class="container content">
		<h1>News</h1>
		<div class="news">
			<div class="row news-row">
				<div class="col-sm-11 col-sm-offset-1 news-box">
					<div class="row">
						<div class="col-sm-4 news-title">
							<p class="post-date">Posted December 10, 2014</p>
							<h3>TITLE</h3>
						</div>
						<div class="col-sm-7 col-sm-offset-1 news-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-11 col-sm-offset-1 news-box">
					<div class="row news-row">
						<div class="col-sm-4 news-title">
							<p class="post-date">Posted December 10, 2014</p>
							<h3>TITLE</h3>
						</div>
						<div class="col-sm-7 col-sm-offset-1 news-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-11 col-sm-offset-1 news-box">
					<div class="row news-row">
						<div class="col-sm-4 news-title">
							<p class="post-date">Posted December 10, 2014</p>
							<h3>TITLE</h3>
						</div>
						<div class="col-sm-7 col-sm-offset-1 news-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-11 col-sm-offset-1 news-box">
					<div class="row news-row">
						<div class="col-sm-4 news-title">
							<p class="post-date">Posted December 10, 2014</p>
							<h3>TITLE</h3>
						</div>
						<div class="col-sm-7 col-sm-offset-1 news-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img class="news-bg" src="/assets/page_bg_airysmoke.jpg" /><!-- 
	<img class="news-smoke" src="/assets/page_bg_smoke.png" /> -->
	<img class="news-graffiti" src="/assets/graffiti.png" />
	<div class="news-grid"></div>
</div>

<div id="shows" class="section">
	<div class="shows-bg">
<!-- 		<img class="vinyl" src="/assets/vinyl.png" />
		<img class="vinyl-stylus" src="/assets/record_stylus.png" /> -->
		<div class="container content">
			<h1>Shows</h1>
			<div class="row">
				<div class="calendar col-sm-12">
					<div class="row"><h2>February</h2></div>
					<div class="row">
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
					</div>
					<div class="row">
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="calendar col-sm-12">
					<div class="row"><h2>March</h2></div>
					<div class="row">
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
					</div>
					<div class="row">
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="music" class="section">
	<div class="container content">
		<div class="row">
			<div class="col-sm-12">
				<h1>MUSIC</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="music-player col-sm-12">
					<div class="row">
						<h3>Album Name: <span class="album-name">Baggage Claim</span></h3>
					</div>
					<div class="music-player-bg"></div>
					<div class="row">
						<div class="col-sm-7">
							<div class="player-interface">
								<img class="spinner" src="/assets/spinner.png" />
								<div class="player-buttons">
									<i class="fa fa-fast-backward"></i>
									<i class="fa fa-play"></i>
									<i class="fa fa-fast-forward"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="tracklist">	
						<div class="track-item heartbeat-btn">
							<h5>Heartbeat (feat. Two Guyz)</h5>
						</div>
						<div class="track-item nowuknow-btn">
							<h5>Now U Know (feat. Jordan Brown)</h5>
						</div>
						<div class="track-item kids-btn">
							<h5>Opposite of Adults (feat. MGMT)</h5>
						</div>
						<div class="track-item heylondon-btn">
							<h5>Hey London</h5>
						</div>
						<div class="track-item toofake-btn">
							<h5>Too Fake (feat. Big Sean)</h5>
						</div>
						<div class="track-item allthingsgo-btn">
							<h5>All Things Go</h5>
						</div>
						<div class="track-item underthesheets-btn">
							<h5>Under The Sheets</h5>
						</div>
						<div class="track-item mindyourmanners-btn">
							<h5>Mind Your Manners (feat. Icona Pop)</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
 		<div class="row">
			<div class="col-sm-12">
				<h2>Releases</h2>
			</div>
		</div>
		<div class="row album-row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-3">
						<div class="album">
							<img src="/assets/swellyxpress.jpg" />
							<div class="hover-info">
								<h3>The Swelly Express</h3>
								<h4>Brought to you by ONSMASH and Crooks and Castles.</h4>
								<!-- <div class="row">
									<div class="album-info col-sm-6">
										<p>Released: November 2009</p>
										<p>Artist: Chiddy Bang</p>
										<p>Label: EMI</p>
									</div>
									<div class="track-listing col-sm-6">
										<ul>
											<li>Get Up In The Morning</li>
											<li>Never</li>
											<li>Danger Zone</li>
											<li>Fresh Like Us</li>
											<li>Now U Know (feat. Jordan Brown)</li>
											<li>Welcome to Major Label Inc (skit)</li>
											<li>Truth (feat. Passion Pit)</li>
											<li>Meet Mike Hoffman (skit)</li>
											<li>Pro's Freestyle 1.0</li>
											<li>Awesome (skit)</li>
											<li>Dream Chasin'</li>
											<li>Silver Screen</li>
											<li>Slow Down (feat. The Root's Black Thought & elDee the Don)</li>
											<li>Decline</li>
											<li>Call (skit)</li>
											<li>Opposite of Adults</li>
											<li>Voicemail (skit)</li>
											<li>All Things Go</li>
										</ul>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="album">
							<img src="/assets/air_swell.jpg" />
							<div class="hover-info">
								<h3>Air Swell</h3>
								<h4>A Mini-mixtape</h4>
								<!-- <div class="row">
									<div class="album-info col-sm-6">
										<p>Released: November 2009</p>
										<p>Artist: Chiddy Bang</p>
										<p>Label: EMI</p>
									</div>
									<div class="track-listing col-sm-6">
										<ul>
											<li>Get Up In The Morning</li>
											<li>Never</li>
											<li>Danger Zone</li>
											<li>Fresh Like Us</li>
											<li>Now U Know (feat. Jordan Brown)</li>
											<li>Welcome to Major Label Inc (skit)</li>
											<li>Truth (feat. Passion Pit)</li>
											<li>Meet Mike Hoffman (skit)</li>
											<li>Pro's Freestyle 1.0</li>
											<li>Awesome (skit)</li>
											<li>Dream Chasin'</li>
											<li>Silver Screen</li>
											<li>Slow Down (feat. The Root's Black Thought & elDee the Don)</li>
											<li>Decline</li>
											<li>Call (skit)</li>
											<li>Opposite of Adults</li>
											<li>Voicemail (skit)</li>
											<li>All Things Go</li>
										</ul>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="album">
							<img src="/assets/pbswelly.jpg" />
							<div class="hover-info">
								<h3>Peanut Butter and Swelly</h3>
								<h4>Released in 2011.</h4>
								<!-- <div class="row">
									<div class="album-info col-sm-6">
										<p>Released: November 2009</p>
										<p>Artist: Chiddy Bang</p>
										<p>Label: EMI</p>
									</div>
									<div class="track-listing col-sm-6">
										<ul>
											<li>Get Up In The Morning</li>
											<li>Never</li>
											<li>Danger Zone</li>
											<li>Fresh Like Us</li>
											<li>Now U Know (feat. Jordan Brown)</li>
											<li>Welcome to Major Label Inc (skit)</li>
											<li>Truth (feat. Passion Pit)</li>
											<li>Meet Mike Hoffman (skit)</li>
											<li>Pro's Freestyle 1.0</li>
											<li>Awesome (skit)</li>
											<li>Dream Chasin'</li>
											<li>Silver Screen</li>
											<li>Slow Down (feat. The Root's Black Thought & elDee the Don)</li>
											<li>Decline</li>
											<li>Call (skit)</li>
											<li>Opposite of Adults</li>
											<li>Voicemail (skit)</li>
											<li>All Things Go</li>
										</ul>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="album">
							<img src="/assets/breakfast.jpg"	/>
							<div class="hover-info">
								<h3>Breakfast</h3>
								<h4>Released February 22, 2012.</h4>
								<!-- <div class="row">
									<div class="album-info col-sm-6">
										<p>Released: November 2009</p>
										<p>Artist: Chiddy Bang</p>
										<p>Label: EMI</p>
									</div>
									<div class="track-listing col-sm-6">
										<ul>
											<li>Get Up In The Morning</li>
											<li>Never</li>
											<li>Danger Zone</li>
											<li>Fresh Like Us</li>
											<li>Now U Know (feat. Jordan Brown)</li>
											<li>Welcome to Major Label Inc (skit)</li>
											<li>Truth (feat. Passion Pit)</li>
											<li>Meet Mike Hoffman (skit)</li>
											<li>Pro's Freestyle 1.0</li>
											<li>Awesome (skit)</li>
											<li>Dream Chasin'</li>
											<li>Silver Screen</li>
											<li>Slow Down (feat. The Root's Black Thought & elDee the Don)</li>
											<li>Decline</li>
											<li>Call (skit)</li>
											<li>Opposite of Adults</li>
											<li>Voicemail (skit)</li>
											<li>All Things Go</li>
										</ul>
									</div>
								</div> -->
							</div>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

<div id="about" class="section">
	<div class="container content">
		<div class="row">
			<div class="col-sm-12">
				<img src='/assets/instagram.jpg' />
			</div>
		</div>
		<div class="row">
			<div id="pics">

			</div>
			<img class="instagram-img" src="/assets/instagram_pics.png" />
			<!-- <iframe class="instagram-pics" src="http://widget.websta.me/in/realchiddy/?s=250&w=5&h=1&b=0&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:100%; height: 420px; margin-left: -25px;" ></iframe> -->
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		var navi = ('.nav-bottom');
		var slidein = ('.slide-in');
		var news = ("#news");
		var navnews = (".nav-news");
		var music = ("#music");
		var navmusic = (".nav-music");
		var shows = ("#shows");
		var navshows = ('.nav-shows');
		var about = ("#about");
		var navabout = (".nav-about");
		var navli = ("#index .nav-container .slide-in ul li");
		var thumb = (".instagram-pics");

		var fbicon = (".fbicon");
		var twicon = (".twicon");
		var inicon = (".inicon");
		var piicon = (".piicon");

		var playbutton = (".fa-play");
		var playmemory = 0;

		//secret 57964264577527dced5b10abb8aa7fd0
		// Soundcloud API schtuffs
		SC.initialize({
		  	client_id: 'c73eaa253b16c4cc3323dad047b74b27'
		});

		var musicwrap = $('.music-player');
		var musicduration = 0;
		var musicposition = 0;
		var percent = 0;
		var progresswidth = $(".pbar");

		var rotation = 360;
		var vinyl = $('.vinyl');
		var stylus = $('.vinyl-stylus');

		var navstate = $('.nav-state ul');

		$(function() {

			$.ajax({
			    type: "GET",
			    dataType: "jsonp",
			    cache: false,
			    user: "realchiddy",
			    success: function(data) {
			        for (var i = 0; i < 1; i++) {
			          console.log(data);
			            $("#pics").append("<img src='" + data.data.images.thumbnail.url+ "'></img>");
			        }
			    }
			});
		});

		$('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {

		        var target = $(this.hash);
		        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html,body').animate({
		                 scrollTop: target.offset().top + 5
		            }, 750);
		            return false;
		        }
		    }
		});

		$(navi).waypoint(function(direction) {
			if (direction == 'down') {
		  		$(this).addClass('nav-fixed');
		  	} else {
		  		$(this).removeClass('nav-fixed');
		  	}
		});

		$(news).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navnews).addClass('active');
				navstate.addClass('news');
			} else {
				$(navnews).removeClass('active');
				navstate.removeClass();
			}
		})
		$(shows).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navshows).addClass('active');
				navstate.removeClass();
				navstate.addClass('shows');
			} else {
				$(navshows).removeClass('active');
				$(navnews).addClass('active');
				navstate.removeClass();
				navstate.addClass('news');
			}
		})
		$(music).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navmusic).addClass('active');
				navstate.removeClass();
				navstate.addClass('music');
			} else {
				$(navmusic).removeClass('active');
				$(navshows).addClass('active');
				navstate.removeClass();
				navstate.addClass('shows');
			}
		})
		$(about).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navabout).addClass('active');
				navstate.removeClass();
				navstate.addClass('about');
			} else {
				$(navabout).removeClass('active');
				$(navmusic).addClass('active');
				navstate.removeClass();
				navstate.addClass('music');
			}
		})

		$(".news").mCustomScrollbar({
			theme:"light-3",
			scrollInertia: 150
		});

		$(thumb).hover(function() {
			$(thumb).addClass("hover");
		}, function() {
			$(thumb).removeClass("hover");
		});

		$(fbicon).hover(function () {
			$(this).append("<img class='fbimg-hover' src='/assets/face-smoke.gif?rnd="+Math.random()+"' />");
		}, function () {
			$('.fbimg-hover').remove();
		});
		$(twicon).hover(function () {
			$(this).append("<img class='twiimg-hover' src='/assets/twit-smoke.gif?rnd="+Math.random()+"' />");
		}, function () {
			$('.twiimg-hover').remove();
		});
		$(inicon).hover(function () {
			$(this).append("<img class='inimg-hover' src='/assets/inst-smoke.gif?rnd="+Math.random()+"' />");
		}, function () {
			$('.inimg-hover').remove();
		});
		$(piicon).hover(function () {
			$(this).append("<img class='piimg-hover' src='/assets/pint-smoke.gif?rnd="+Math.random()+"' />");
		}, function () {
			$('.piimg-hover').remove();
		});

		var track;
		var album_name = $('.album-name');

		var music_player_bg = $('.music-player-bg');
		var trackitem = $('.track-item');
		var heartbeat_btn = $('.heartbeat-btn');
		var nowuknow_btn = $('.nowuknow-btn');
		var heylondon_btn = $('.heylondon-btn');
		var kids_btn = $('.kids-btn');
		var toofake_btn = $('.toofake-btn');
		var underthesheets_btn = $('.underthesheets-btn');
		var mindyourmanners_btn = $('.mindyourmanners-btn');
		var allthingsgo_btn = $('.allthingsgo-btn');
		
		$(heartbeat_btn).on("click", function () {
			console.log('workes');
			if (track == null) {

			} else {
				track.stop();
			};

			$(trackitem).removeClass('selected');
			$('.playing-gif').attr("style", "height: 0;");
			setTimeout(function() {
				$('.playing-gif').remove();
				$(heartbeat_btn).addClass('selected');	
				$(heartbeat_btn).append('<div class="playing-gif"></div>');
			},250)
			SC.stream("/tracks/109929434", function(heartbeat) {
				track = heartbeat;
				album_name.empty().append('Baggage Claim');
				music_player_bg.attr("style", "background: url('/assets/air_swell.jpg') no-repeat; background-size: cover; background-position: center;");
				track.play();
				$(playbutton).toggleClass('fa-pause').toggleClass('fa-play').toggleClass('playing');
				playmemory=1;
		  		clearInterval(spinInterval);
				rotate('0', true);
			});
		});
		$(nowuknow_btn).on("click", function () {
			console.log('worked');
			if (track == null) {

			} else {
				track.stop();
			};
			$(trackitem).removeClass('selected');
			$('.playing-gif').attr("style", "height: 0;");
			setTimeout(function() {
				$('.playing-gif').remove();
				$(nowuknow_btn).addClass('selected');	
				$(nowuknow_btn).append('<div class="playing-gif"></div>');
			},250);
			SC.stream("/tracks/1223505", function(nowuknow) {
				track = nowuknow;
				album_name.empty().append('Swelly Express');
				music_player_bg.attr("style", "background: url('/assets/swellyxpress.jpg') no-repeat; background-size: cover; background-position: center;");
				track.play();
				$(playbutton).toggleClass('fa-pause').toggleClass('fa-play').toggleClass('playing');
				playmemory=1;
		  		clearInterval(spinInterval);
				rotate('0', true);
			});
		});
		$(kids_btn).on("click", function () {
			if (track == null) {

			} else {
				track.stop();
			};
			$(trackitem).removeClass('selected');
			$('.playing-gif').attr("style", "height: 0;");
			setTimeout(function() {
				$('.playing-gif').remove();
				$(kids_btn).addClass('selected');	
				$(kids_btn).append('<div class="playing-gif"></div>');
			},250);
			SC.stream("/tracks/214243", function(kids) {
				track = kids;
				album_name.empty().append('Breakfast');
				music_player_bg.attr("style", "background: url('/assets/breakfast.jpg') no-repeat; background-size: cover; background-position: center;");
				track.play();
				$(playbutton).toggleClass('fa-pause').toggleClass('fa-play').toggleClass('playing');
				playmemory=1;
		  		clearInterval(spinInterval);
				rotate('0', true);
			});
		});
		$(heylondon_btn).on("click", function () {
			if (track == null) {

			} else {
				track.stop();
			};
			$(trackitem).removeClass('selected');
			$('.playing-gif').attr("style", "height: 0;");
			setTimeout(function() {
				$('.playing-gif').remove();
				$(heylondon_btn).addClass('selected');	
				$(heylondon_btn).append('<div class="playing-gif"></div>');
			},250);
			SC.stream("/tracks/4722845", function(heylondon) {
				track = heylondon;
				album_name.empty().append('Air Swell');
				music_player_bg.attr("style", "background: url('/assets/air_swell.jpg') no-repeat; background-size: cover; background-position: center;");
				track.play();
				$(playbutton).toggleClass('fa-pause').toggleClass('fa-play').toggleClass('playing');
				playmemory=1;
		  		clearInterval(spinInterval);
				rotate('0', true);
			});
		});
		$(allthingsgo_btn).on("click", function () {
			if (track == null) {

			} else {
				track.stop();
			};
			$(trackitem).removeClass('selected');
			$('.playing-gif').attr("style", "height: 0;");
			setTimeout(function() {
				$('.playing-gif').remove();
				$(allthingsgo_btn).addClass('selected');	
				$(allthingsgo_btn).append('<div class="playing-gif"></div>');
			},250);
			SC.stream("/tracks/12340123", function(allthingsgo) {
				track = allthingsgo;
				album_name.empty().append('Swelly Express');
				music_player_bg.attr("style", "background: url('/assets/swellyxpress.jpg') no-repeat; background-size: cover; background-position: center;");
				track.play();
				$(playbutton).toggleClass('fa-pause').toggleClass('fa-play').toggleClass('playing');
				playmemory=1;
		  		clearInterval(spinInterval);
				rotate('0', true);
			});
		});
		$(underthesheets_btn).on("click", function () {
			if (track == null) {

			} else {
				track.stop();
			};
			$(trackitem).removeClass('selected');
			$('.playing-gif').attr("style", "height: 0;");
			setTimeout(function() {
				$('.playing-gif').remove();
				$(underthesheets_btn).addClass('selected');	
				$(underthesheets_btn).append('<div class="playing-gif"></div>');
			},250);
			SC.stream("/tracks/2108902", function(underthesheets) {
				track = underthesheets;
				album_name.empty().append('Air Swell');
				music_player_bg.attr("style", "background: url('/assets/air_swell.jpg') no-repeat; background-size: cover; background-position: center;");
				track.play();
				$(playbutton).toggleClass('fa-pause').toggleClass('fa-play').toggleClass('playing');
				playmemory=1;
		  		clearInterval(spinInterval);
				rotate('0', true);
			});
		});
		$(mindyourmanners_btn).on("click", function () {
			if (track == null) {

			} else {
				track.stop();
			};
			$(trackitem).removeClass('selected');
			$('.playing-gif').attr("style", "height: 0;");
			setTimeout(function() {
				$('.playing-gif').remove();
				$(mindyourmanners_btn).addClass('selected');	
				$(mindyourmanners_btn).append('<div class="playing-gif"></div>');
			},250);
			SC.stream("/tracks/18143761", function(mindyourmanners) {
				track = mindyourmanners;
				album_name.empty().append('Breakfast');
				music_player_bg.attr("style", "background: url('/assets/breakfast.jpg') no-repeat; background-size: cover; background-position: center;");
				track.play();
				$(playbutton).toggleClass('fa-pause').toggleClass('fa-play').toggleClass('playing');
				playmemory=1;
		  		clearInterval(spinInterval);
				rotate('0', true);
			});
		});
		$(toofake_btn).on("click", function () {
			if (track == null) {

			} else {
				track.stop();
			};
			$(trackitem).removeClass('selected');
			$('.playing-gif').attr("style", "height: 0;");
			setTimeout(function() {
				$('.playing-gif').remove();
				$(toofake_btn).addClass('selected');	
				$(toofake_btn).append('<div class="playing-gif"></div>');
			},250);
			SC.stream("/tracks/16569420", function(toofake) {
				track = toofake;
				album_name.empty().append('Single');
				music_player_bg.attr("style", "background: url('/assets/swellyxpress.jpg') no-repeat; background-size: cover; background-position: center;");
				track.play();
				$(playbutton).toggleClass('fa-pause').toggleClass('fa-play').toggleClass('playing');
				playmemory=1;
		  		clearInterval(spinInterval);
				rotate('0', true);
			});
		});



		$(playbutton).on("click", function () {

			musicduration = track.durationEstimate;
			musicduration = musicduration.toFixed(2);
			musicposition = track.position;
			musicposition = musicposition.toFixed(2);
			percent = (musicposition/musicduration)*100;
			percent = percent.toFixed(2);

			if (playmemory == 0) {
		  			track.play();
		  			progressbar(percent, true);
		  			playmemory = 1;
		  			$('.playing-gif').css("opacity", "1");
			} else { 
		  			track.pause();
		  			playmemory = 0;
		  			progressbar(percent, false);
		  			clearInterval(spinInterval);
		  			$('.playing-gif').css("opacity", "0");
			}
			

			if ($(this).hasClass('playing')) {
				$(this).removeClass();
				$(this).addClass('fa fa-play');
			} else {
				$(this).removeClass();
				$(this).addClass('fa fa-pause playing');     		
			};
		});

		var spinner = $('.spinner');
		var degrees = 0;
		var spinInterval;

		function rotate(percy, conty) {
			
			if (conty == false) {
				$(spinner).attr("style", "-webkit-transform: rotate("+ percy +"deg); -moz-transform: rotate("+ percy +"deg); -ms-transform: rotate("+ percy +"deg); transform: rotate("+ percy +"deg);");
				clearInterval(spinInterval);
			} else {
				spinInterval = setInterval(function () {
					musicduration = track.durationEstimate;
					musicduration = musicduration.toFixed(2);
					musicposition = track.position;
					musicposition = musicposition.toFixed(2);
					percent = (musicposition/musicduration)*100;
					percent = percent.toFixed(2);
					percent = parseFloat(percent);
					//percent += 0.21;

					percent = percent*3.5;
					console.log(percent);
					console.log(conty);

					$(spinner).removeAttr("style");
					$(spinner).attr("style", "-webkit-transform: rotate("+ percent +"deg); -moz-transform: rotate("+ percent +"deg); -ms-transform: rotate("+ percent +"deg); transform: rotate("+ percent +"deg);");
				}, 300);
			}
		}
		

		function progressbar(percent, continuespin) {

			degrees = parseFloat(degrees);
			percent = parseFloat(percent);
			//percent += 0.21;

			percent = percent*3.5;
			console.log(percent);
			console.log(continuespin);

			rotate(percent, continuespin);
		}
	});
</script>