<div id="index">
	<div class="nav-container">
		<div class="navbar navbar-fixed-top">
			<a href="/main/home_1">Home 1</a>
			<a href="/main/home_2">Home 2</a>
			<a href="/main/home_3">Home 3</a>
			<a href="#content1">Content 1 <i class="fa fa-chevron-down"></i></a>
			<a href="#content2">Content 2 <i class="fa fa-chevron-down"></i></a>
		</div>
	</div>
	<span class="helper"></span><img class="home-img" src="/assets/home_image_v2.png" />
	<div id="content1" class="container content">
		<h1> MEGA CONTENT SECTION #1</h1>
		<img class="content-img" src="/assets/home_img.jpg" />
	</div>
	<div id="content2" class="container content">
		<h1> MEGA CONTENT SECTION #1</h1>
		<img class="content-img" src="/assets/home_img.jpg" />
	</div>	
</div>

<script>
	$('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
	        || location.hostname == this.hostname) {

	        var target = $(this.hash);
	        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	           if (target.length) {
	             $('html,body').animate({
	                 scrollTop: target.offset().top
	            }, 1000);
	            return false;
	        }
	    }
	});
</script>