<div id="index" class="section">
	<div class="nav-fixed-top">
		<a class="crown" href="#index"><img width="50" src="/assets/crown.png" /></a>
	</div>
	<div class="nav-bottom">
		<div class="nav-container">
			<h1>Chiddy Bang</h1>
			<div class="slide-in">
				<ul>
					<li class="nav-news"><a href="/main/#news"><span class="nav-bar"></span>News</a></li>
					<li class="nav-shows"><a href="/main/#shows"><span class="nav-bar"></span>Shows</a></li>
					<li class="nav-music"><a href="/main/#music"><span class="nav-bar"></span>Music</a></li>
					<!-- <li class="nav-shop"><a href="#">Shop</a></li> -->
					<li class="nav-about"><a href="/main/#about"><span class="nav-bar"></span>About</a></li>
				</ul>
			</div>
			<!-- 
			<a href="/main/index">Index<i class="fa fa-chevron-down"></i></a>
			<a href="#music">Music<i style="margin-right: 0;" class="fa fa-chevron-down"></i></a> -->
			<div class="spacer"></div><!-- 
			<a href="#shows">Shows<i class="fa fa-chevron-down"></i></a>
			<a href="#about">About<i class="fa fa-chevron-down"></i></a> -->
			<div class="social-icons">
				<a href="#" class="fbicon icon"><img class="fbicon-img" src="/assets/fbicon_bg.png" /></a>
				<a href="#" class="twicon icon"><img class="twicon-img" src="/assets/twicon_bg.png" /></a>
				<a href="#" class="inicon icon"><img class="inicon-img" src="/assets/inicon_bg.png" /></a>
				<a href="#" class="piicon icon"><img class="piicon-img" src="/assets/piicon_bg.png" /></a>
			</div>
		</div>
	</div>

<!-- <span class="helper"></span>
	<div class="home-img-chiddy" data-stellar-ratio="1.5"> </div>
	<div class="home-img-cut" data-stellar-ratio="1"> </div> -->
	<a class="index-continue" href="#news"><i class="fa fa-chevron-down"></i></a>
	<div class="home-img"></div>
</div>

<div id="news" class="section">
	<div class="container news">

		<div class="row news-row">
			<div class="col-sm-10 col-sm-offset-2 news-box">
				<div class="row">
					<div class="col-sm-4 news-title">
						<p>Posted December 10, 2014</p>
						<h2>TITLE</h2>
					</div>
					<div class="col-sm-7 col-sm-offset-1 news-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 news-box">
				<div class="row news-row">
					<div class="col-sm-4 news-title">
						<p>Posted December 10, 2014</p>
						<h2>TITLE</h2>
					</div>
					<div class="col-sm-7 col-sm-offset-1 news-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 news-box">
				<div class="row news-row">
					<div class="col-sm-4 news-title">
						<p>Posted December 10, 2014</p>
						<h2>TITLE</h2>
					</div>
					<div class="col-sm-7 col-sm-offset-1 news-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 news-box">
				<div class="row news-row">
					<div class="col-sm-4 news-title">
						<p>Posted December 10, 2014</p>
						<h2>TITLE</h2>
					</div>
					<div class="col-sm-7 col-sm-offset-1 news-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img class="news-bg" src="/assets/page_bg_airysmoke.jpg" />
	<img class="news-smoke" src="/assets/page_bg_smoke.png" />
	<img class="news-graffiti" src="/assets/graffiti.png" />
	<div class="news-grid"></div>
</div>

<div id="shows" class="section">
	<div class="shows-bg">
		<img class="bg" src="/assets/home_image_v2.png" />
<!-- 		<img class="vinyl" src="/assets/vinyl.png" />
		<img class="vinyl-stylus" src="/assets/record_stylus.png" /> -->
		<div class="container content">
			<h1>Shows</h1>
			<div class="row">
				<div class="calendar col-sm-11 col-sm-offset-1">
					<div class="row"><h2>February</h2></div>
					<div class="row">
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
					</div>
					<div class="row">
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="calendar col-sm-11 col-sm-offset-1">
					<div class="row"><h2>March</h2></div>
					<div class="row">
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
					</div>
					<div class="row">
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
						<div class="date col-sm-3">
							<h3>DD/MM/YY</h3>
							<p>City,State</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor</p>
							<p>Lorem Ipsum Dolor Sit</p>
							<a href="#" class="tix">Buy Tickets</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="music" class="section">
	<div class="container content">
		<div class="row">
			<div class="col-sm-12">
				<h1>MUSIC</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="music-player col-sm-12">
					<div class="row">
						<h3>Album Name: Baggage Claim</h3>
						<h4>Track 1:  Heartbeat</br>1:23</h4>
					</div>
					<div class="music-player-bg"></div>
					<div class="col-sm-7">
						<div class="play-button">
							<i class="fa fa-fast-backward"></i>
							<i class="fa fa-play"></i>
							<i class="fa fa-fast-forward"></i>
						</div>
					</div>
					<div class="tracklist">	
						<a href="#" class="track-item">
							<h5>Heartbeat</h5>
						</a>
						<a href="#" class="track-item">
							<h5>Now U Know</h5>
						</a>
						<a href="#" class="track-item">
							<h5>Handclaps and Guitars</h5>
						</a>
						<a href="#" class="track-item">
							<h5>Hey London</h5>
						</a>
						<a href="#" class="track-item">
							<h5>Opposite of Adults</h5>
						</a>
						<a href="#" class="track-item">
							<h5>All Things Go</h5>
						</a>
						<a href="#" class="track-item">
							<h5>Under The Sheets</h5>
						</a>
						<a href="#" class="track-item">
							<h5>Never</h5>
						</a>
						<a href="#" class="track-item">
							<h5>Too Much Soul</h5>
						</a>
					</div>
					<iframe id="soundcloud-container" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/109929434&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<h2>Releases</h2>
			</div>
		</div>
		<div class="row album-row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="album">
					<img src="/assets/swellyxpress.jpg" />
					<div class="hover-info">
						<h3>The Swelly Express</h3>
						<h4>Brought to you by ONSMASH and Crooks and Castles.</h4>
						<div class="row">
							<div class="album-info col-sm-6">
								<p>Released: November 2009</p>
								<p>Artist: Chiddy Bang</p>
								<p>Label: EMI</p>
							</div>
							<div class="track-listing col-sm-6">
								<ul>
									<li>Get Up In The Morning</li>
									<li>Never</li>
									<li>Danger Zone</li>
									<li>Fresh Like Us</li>
									<li>Now U Know (feat. Jordan Brown)</li>
									<li>Welcome to Major Label Inc (skit)</li>
									<li>Truth (feat. Passion Pit)</li>
									<li>Meet Mike Hoffman (skit)</li>
									<li>Pro's Freestyle 1.0</li>
									<li>Awesome (skit)</li>
									<li>Dream Chasin'</li>
									<li>Silver Screen</li>
									<li>Slow Down (feat. The Root's Black Thought & elDee the Don)</li>
									<li>Decline</li>
									<li>Call (skit)</li>
									<li>Opposite of Adults</li>
									<li>Voicemail (skit)</li>
									<li>All Things Go</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row album-row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="album">
					<img src="/assets/air_swell.jpg" />
					<div class="hover-info">
						<h3>Air Swell</h3>
						<p>A Mini-mixtape</p>
						<div class="row">
							<div class="album-info col-sm-6">
								<p>Released: November 2009</p>
								<p>Artist: Chiddy Bang</p>
								<p>Label: EMI</p>
							</div>
							<div class="track-listing col-sm-6">
								<ul>
									<li>Get Up In The Morning</li>
									<li>Never</li>
									<li>Danger Zone</li>
									<li>Fresh Like Us</li>
									<li>Now U Know (feat. Jordan Brown)</li>
									<li>Welcome to Major Label Inc (skit)</li>
									<li>Truth (feat. Passion Pit)</li>
									<li>Meet Mike Hoffman (skit)</li>
									<li>Pro's Freestyle 1.0</li>
									<li>Awesome (skit)</li>
									<li>Dream Chasin'</li>
									<li>Silver Screen</li>
									<li>Slow Down (feat. The Root's Black Thought & elDee the Don)</li>
									<li>Decline</li>
									<li>Call (skit)</li>
									<li>Opposite of Adults</li>
									<li>Voicemail (skit)</li>
									<li>All Things Go</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row album-row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="album">
					<img src="/assets/pbswelly.jpg" />
					<div class="hover-info">
						<h3>Peanut Butter and Swelly</h3>
						<p>Released in 2011.</p>
						<div class="row">
							<div class="album-info col-sm-6">
								<p>Released: November 2009</p>
								<p>Artist: Chiddy Bang</p>
								<p>Label: EMI</p>
							</div>
							<div class="track-listing col-sm-6">
								<ul>
									<li>Get Up In The Morning</li>
									<li>Never</li>
									<li>Danger Zone</li>
									<li>Fresh Like Us</li>
									<li>Now U Know (feat. Jordan Brown)</li>
									<li>Welcome to Major Label Inc (skit)</li>
									<li>Truth (feat. Passion Pit)</li>
									<li>Meet Mike Hoffman (skit)</li>
									<li>Pro's Freestyle 1.0</li>
									<li>Awesome (skit)</li>
									<li>Dream Chasin'</li>
									<li>Silver Screen</li>
									<li>Slow Down (feat. The Root's Black Thought & elDee the Don)</li>
									<li>Decline</li>
									<li>Call (skit)</li>
									<li>Opposite of Adults</li>
									<li>Voicemail (skit)</li>
									<li>All Things Go</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row album-row">
			<div class="col-sm-11 col-sm-offset-1">
				<div class="album">
					<img src="/assets/breakfast.jpg"	/>
					<div class="hover-info">
						<h3>Breakfast</h3>
						<p>Released February 22, 2012.</p>
						<div class="row">
							<div class="album-info col-sm-6">
								<p>Released: November 2009</p>
								<p>Artist: Chiddy Bang</p>
								<p>Label: EMI</p>
							</div>
							<div class="track-listing col-sm-6">
								<ul>
									<li>Get Up In The Morning</li>
									<li>Never</li>
									<li>Danger Zone</li>
									<li>Fresh Like Us</li>
									<li>Now U Know (feat. Jordan Brown)</li>
									<li>Welcome to Major Label Inc (skit)</li>
									<li>Truth (feat. Passion Pit)</li>
									<li>Meet Mike Hoffman (skit)</li>
									<li>Pro's Freestyle 1.0</li>
									<li>Awesome (skit)</li>
									<li>Dream Chasin'</li>
									<li>Silver Screen</li>
									<li>Slow Down (feat. The Root's Black Thought & elDee the Don)</li>
									<li>Decline</li>
									<li>Call (skit)</li>
									<li>Opposite of Adults</li>
									<li>Voicemail (skit)</li>
									<li>All Things Go</li>
								</ul>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</div>	
</div>

<div id="about" class="section">
	<div class="container content">
		<div class="row">
			<div class="col-sm-12">
				<div class="bar"></div>
				<h1>ABOUT</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Twitter</h2>
				<a class="twitter-timeline" href="https://twitter.com/chiddybang" data-tweet-limit="3" data-widget-id="531584020497178624" data-theme="dark" data-chrome="noheader nofooter noborders  transparent">Tweets by @chiddybang</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
	<h2>Instagram</h2>
	<div id="pics">

	</div>
	<iframe class="instagram-pics" src="http://widget.websta.me/in/realchiddy/?s=125&w=12&h=3&b=0&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:110%; height: 420px; margin-left: -25px;" ></iframe>
</div>

<script>
	$(document).ready(function() {
		var navi = ('.nav-bottom');
		var slidein = ('.slide-in');
		var news = ("#news");
		var navnews = (".nav-news");
		var music = ("#music");
		var navmusic = (".nav-music");
		var shows = ("#shows");
		var navshows = ('.nav-shows');
		var about = ("#about");
		var navabout = (".nav-about");
		var navli = ("#index .nav-container .slide-in ul li");
		var thumb = (".instagram-pics");

		var fbicon = (".fbicon");
		var twicon = (".twicon");
		var inicon = (".inicon");
		var piicon = (".piicon");

		var playbutton = (".fa-play");

		var iframeElement   = document.getElementById('soundcloud-container');
		var iframeElementID = iframeElement.id;
		var player         = SC.Widget(iframeElement);
		var widget2         = SC.Widget(iframeElementID);

		var musicwrap = $('.music-player');
		var musicduration = 0;
		var musicposition = 0;
		var percent = 0;
		var progresswidth = $(".pbar");

		var rotation = 360;
		var vinyl = $('.vinyl');
		var stylus = $('.vinyl-stylus')

		$(function() {

			$.ajax({
			    type: "GET",
			    dataType: "jsonp",
			    cache: false,
			    user: "realchiddy",
			    success: function(data) {
			        for (var i = 0; i < 1; i++) {
			          console.log(data);
			            $("#pics").append("<img src='" + data.data.images.thumbnail.url+ "'></img>");
			        }
			    }
			});
		});

		$('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {

		        var target = $(this.hash);
		        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html,body').animate({
		                 scrollTop: target.offset().top
		            }, 750);
		            return false;
		        }
		    }
		});

		$(navi).waypoint(function(direction) {
			if (direction == 'down') {
		  		$(this).addClass('nav-fixed');
		  	} else {
		  		$(this).removeClass('nav-fixed');
		  	}
		});

		$(news).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navnews).addClass('active');
			} else {
				$(navnews).removeClass('active');
			}
		})
		$(music).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navmusic).addClass('active');
			} else {
				$(navmusic).removeClass('active');
				$(navnews).addClass('active');
			}
		})
		$(shows).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navshows).addClass('active');
			} else {
				$(navshows).removeClass('active');
				$(navmusic).addClass('active');
			}
		})
		$(about).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navabout).addClass('active');
			} else {
				$(navabout).removeClass('active');
				$(navshows).addClass('active');
			}
		})

		$(".news").mCustomScrollbar({
			theme:"light-3",
			scrollInertia: 150
		});

		$(thumb).hover(function() {
			$(thumb).addClass("hover");
		}, function() {
			$(thumb).removeClass("hover");
		});

		$(fbicon).hover(function () {
			$(this).attr("style", "background: url('/assets/face-smoke.gif?rnd="+Math.random()+"'); background-position: center; background-size: 100%;");
			setTimeout(function() {
				$(".fbicon-img").attr("style", "opacity: 0;");
			},10);
		}, function () {
			$(".fbicon-img").attr("style", "opacity: 1;");
			$(this).removeAttr('style');
		});
		$(twicon).hover(function () {
			$(this).attr("style", "background: url('/assets/twit-smoke.gif?rnd="+Math.random()+"'); background-position: center; background-size: 100%;");
			setTimeout(function() {
				$(".twicon-img").attr("style", "opacity: 0;");
			},10);
		}, function () {
			$(".twicon-img").attr("style", "opacity: 1;");
			$(this).removeAttr('style');
		});
		$(inicon).hover(function () {
			$(this).attr("style", "background: url('/assets/inst-smoke.gif?rnd="+Math.random()+"'); background-position: center; background-size: 100%;");
			setTimeout(function() {
				$(".inicon-img").attr("style", "opacity: 0;");
			},10);
		}, function () {
			$(".inicon-img").attr("style", "opacity: 1;");
			$(this).removeAttr('style');
		});
		$(piicon).hover(function () {
			$(this).attr("style", "background: url('/assets/pint-smoke.gif?rnd="+Math.random()+"'); background-position: center; background-size: 100%;");
			setTimeout(function() {
				$(".piicon-img").attr("style", "opacity: 0;");
			},10);
		}, function () {
			$(".piicon-img").attr("style", "opacity: 1;");
			$(this).removeAttr('style');
		});

		$(playbutton).on("click", function () {

			player.getDuration(function(duration){
				musicduration = duration;
				musicduration = musicduration.toFixed(2);
			});

			if ($(this).hasClass('playing')) {
				$(this).removeClass();
				$(this).addClass('fa fa-play');
				player.pause();
			} else {
				$(this).removeClass();
				$(this).addClass('fa fa-pause playing');
			  	player.play();
			  	player.getPosition(function(position){
					musicposition = position;
					musicposition = musicposition.toFixed(2);
					percent = (musicposition/musicduration)*100;
					percent = percent.toFixed(2);
					progressbar(percent);
				});        		
			};
		});

		function progressbar(percent) {
			setInterval(function() {
				percent = parseFloat(percent);
				percent += 0.21;

				progresswidth.attr("style", "width:"+percent+"%;");
			}, 500);
		}


		function rotateshows() {
			// var stylusrotate = 90;

			// function rotatestylus() {
			// 	stylusrotate -= 0.15;
			// 	$(stylus).css({'-webkit-transform' : 'rotate('+ stylusrotate +'deg)',
			//                  '-moz-transform' : 'rotate('+ stylusrotate +'deg)',
			//                  '-ms-transform' : 'rotate('+ stylusrotate +'deg)',
			//                  'transform' : 'rotate('+ stylusrotate +'deg)'});
			// }

			// function rotatevinyl() {
			// 	setInterval(function() {
			// 		rotation +=.1;
			// 		$(vinyl).css({'-webkit-transform' : 'rotate('+ rotation +'deg)',
		 //                 '-moz-transform' : 'rotate('+ rotation +'deg)',
		 //                 '-ms-transform' : 'rotate('+ rotation +'deg)',
		 //                 'transform' : 'rotate('+ rotation +'deg)'});
			// 	}, 10);
			// }

			// var refreshInterval = setInterval(rotatestylus, 10);
			// setInterval(function() {
			// 	clearInterval(refreshInterval);
			// 	rotatevinyl();
			// }, 3000);



			// setTimeout(function() {
			// 	$(vinyl).css({'-webkit-transform' : 'rotate('+ rotation +'deg)',
		 //                 '-moz-transform' : 'rotate('+ rotation +'deg)',
		 //                 '-ms-transform' : 'rotate('+ rotation +'deg)',
		 //                 'transform' : 'rotate('+ rotation +'deg)'});
			// }, 4000);
		}
	});
</script>