<div id="index" class="section">
	<div class="nav-container">
		<div class="navbar navbar-fixed-top">
			<a href="/main/home_1">Home 1</a>
			<a href="/main/home_2">Home 2</a>
			<a href="/main/home_3">Home 3</a>
			<a href="#index">Home<i class="fa fa-chevron-down"></i></a>
			<a href="#shows">Shows<i class="fa fa-chevron-down"></i></a>
			<a href="#about">About<i class="fa fa-chevron-down"></i></a>
		</div>
	</div>
<!-- 	<span class="helper"></span> -->
	<div class="home-img-chiddy" data-stellar-ratio="1.5"> </div>
	<div class="home-img-cut" data-stellar-ratio="1"> </div>
</div>

<div id="shows" class="section">
	<div id="content1" class="container content">
		<h1>SHOWS</h1>
		<img class="content-img" src="/assets/home_image_v3.jpg" />
	</div>
</div>

<div id="about" class="section">
	<div id="content2" class="container content">
		<h1>ABOUT</h1>
		<img class="content-img" src="/assets/home_image_v2.png" />
	</div>
</div>

<script>
	$(document).ready(function() {
		$('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {

		        var target = $(this.hash);
		        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html,body').animate({
		                 scrollTop: target.offset().top
		            }, 750);
		            return false;
		        }
		    }
		});

		$(window).stellar({

		});
	});
</script>