<div id="index" class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="header-logo">
				<img class="spark-top" id="spark" src="/assets/logo_spark_1.png" />
				<img class="spark-corner" id="spark-corner" src="/assets/logo_spark_2.png" />
				<img class="chiddy" src="/assets/logo.png" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div id="links">
				<a href="#" class="nav-link">
					<span>About</span>
					<div class="fuse"></div>
					<img class="spark-flicker" src="/assets/spark_flicker.gif" />
				</a>
				<a href="#" class="nav-link">
					<span>Contact</span>
					<div class="fuse"></div>
					<img class="spark-flicker" src="/assets/spark_flicker.gif" />
				</a>
				<a href="#" class="nav-link">
					<span>Merch</span>
					<div class="fuse"></div>
					<img class="spark-flicker" src="/assets/spark_flicker.gif" />
				</a>
			</div>
		</div>
	</div>
</div>

<script>
	$('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
	        || location.hostname == this.hostname) {

	        var target = $(this.hash);
	        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	           if (target.length) {
	             $('html,body').animate({
	                 scrollTop: target.offset().top
	            }, 1000);
	            return false;
	        }
	    }
	});
</script>