<div id="index" class="section">
	<div class="nav-fixed-top">
		<a class="crown" href="#music"><img width="50" src="/assets/crown.png" /></a>
	</div>
	<div class="nav-bottom">
		<div class="nav-container">
			<h1>Chiddy Bang</h1>
			<div class="slide-in">
				<ul>
					<li class="nav-music"><a href="/main/#music">News</a></li>
					<li class="nav-shows"><a href="/main/#shows">Shows</a></li>
					<li class="nav-shop"><a href="#">Shop</a></li>
					<li class="nav-about"><a href="/main/#about">About</a></li>
				</ul>
			</div>
			<!-- 
			<a href="/main/index">Index<i class="fa fa-chevron-down"></i></a>
			<a href="#music">Music<i style="margin-right: 0;" class="fa fa-chevron-down"></i></a> -->
			<div class="spacer"></div><!-- 
			<a href="#shows">Shows<i class="fa fa-chevron-down"></i></a>
			<a href="#about">About<i class="fa fa-chevron-down"></i></a> -->
			<div class="social-icons">
				<i class="fa fa-facebook"></i>
				<i class="fa fa-twitter"></i>
				<i class="fa fa-instagram"></i>
				<i class="fa fa-pinterest"></i>
			</div>
		</div>
	</div>

<!-- <span class="helper"></span>
	<div class="home-img-chiddy" data-stellar-ratio="1.5"> </div>
	<div class="home-img-cut" data-stellar-ratio="1"> </div> -->
	<a class="index-continue" href="#music"><i class="fa fa-chevron-down"></i></a>
	<div class="home-img"></div>
</div>

<div id="music" class="section">
	<div class="container news">
		<div class="row news-row">
			<div class="col-sm-10 col-sm-offset-2 news-box">
				<div class="row">
					<div class="col-sm-4 news-title">
						<p>Posted December 10, 2014</p>
						<h2>TITLE</h2>
					</div>
					<div class="col-sm-7 col-sm-offset-1 news-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 news-box">
				<div class="row news-row">
					<div class="col-sm-4 news-title">
						<p>Posted December 10, 2014</p>
						<h2>TITLE</h2>
					</div>
					<div class="col-sm-7 col-sm-offset-1 news-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 news-box">
				<div class="row news-row">
					<div class="col-sm-4 news-title">
						<p>Posted December 10, 2014</p>
						<h2>TITLE</h2>
					</div>
					<div class="col-sm-7 col-sm-offset-1 news-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 news-box">
				<div class="row news-row">
					<div class="col-sm-4 news-title">
						<p>Posted December 10, 2014</p>
						<h2>TITLE</h2>
					</div>
					<div class="col-sm-7 col-sm-offset-1 news-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container content">
		<div class="row">
			<div class="col-sm-12">
				<div class="bar"></div>
				<h1>MUSIC</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2>Latest</h2>
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/109929434&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2>Releases</h2>
			</div>
		</div>
		<div class="row album-row">
			<div class="col-sm-6">
				<div class="album">
					<img src="/assets/swellyxpress.jpg" />
					<div class="hover-info">
						<h3>The Swelly Express</h3>
						<p>Brought to you by ONSMASH and Crooks and Castles.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="album">
					<img src="/assets/air_swell.jpg" />
					<div class="hover-info">
						<h3>Air Swell</h3>
						<p>A Mini-mixtape</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row album-row">
			<div class="col-sm-6">
				<div class="album">
					<img src="/assets/pbswelly.jpg" />
					<div class="hover-info">
						<h3>Peanut Butter and Swelly</h3>
						<p>Released in 2011.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="album">
					<img src="/assets/breakfast.jpg"	/>
					<div class="hover-info">
						<h3>Breakfast</h3>
						<p>Released February 22, 2012.</p>
					</div>			
				</div>
			</div>
		</div>
	</div>	
	<img class="music-bg" src="/assets/page_bg_airysmoke.jpg" />
	<img class="music-smoke" src="/assets/page_bg_smoke.png" />
</div>

<div id="shows" class="section">
	<div class="shows-bg">
		<div class="container content">
			<div class="row">
				<div class="col-sm-12">
					<table id="tour" class="table table-hover">
						<tbody>
							<thead>
								<tr>
									<th>Date</th>
									<th>Location</th>
									<th>Venue</th>
									<th>Tickets</th>
									<th>Status</th>
								</tr>
							</thead>
							<tr>
								<td>Oct 29</td>
								<td>Royal Oak, MI</td>
								<td><a href="http://www.royaloakmusictheatre.com/" target="blank">Royal Oak Music Theatre</a></td>
								<td><a href="http://bit.ly/pktdet" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Oct 30</td>
								<td>Columbus, OH</td>
								<td><a href="http://www.promowestlive.com/" target="blank">Newport Music Hall</a></td>
								<td><a href="http://bit.ly/pktcbus" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Oct 31</td>
								<td>Louisville, KY</td>
								<td><a href="http://www.mercuryballroom.com/" target="blank">Mercury Ballroom</a></td>
								<td>Sold Out</td>
								<td>Sold Out</td>
							</tr>
							<tr>
								<td>Nov 1</td>
								<td>Milwaukee, WI</td>
								<td><a href="http://www.therave.com/main.asp" target="blank">Eagles Ballroom</a></td>
								<td><a href="http://bit.ly/pktmke" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 3</td>
								<td>Cincinnati, OH</td>
								<td><a href="http://www.bogarts.com/" target="blank">Bogart's</a></td>
								<td><a href="http://bit.ly/pktcincy" target="_blank">Buy now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 4</td>
								<td>Champaign, IL</td>
								<td><a href="http://www.foellinger.illinois.edu/" target="blank">Foellinger Auditorium</a></td>
								<td><a href="http://bit.ly/pktchampaign" target="_blank">Buy Now</a></td>
								<td>On sale 9/23</td>
							</tr>
							<tr>
								<td>Nov 5</td>
								<td>St. Louis, MO</td>
								<td><a href="http://www.thepageant.com/" target="blank">The Pageant</a></td>
								<td><a href="http://bit.ly/pktstlo" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 7</td>
								<td>Minneapolis, MN</td>
								<td><a href="http://mythlive.com/" target="blank">Myth</a></td>
								<td><a href="http://bit.ly/pktmpls" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 8</td>
								<td>Omaha, NE</td>
								<td><a href="http://sokolunderground.com/" target="blank">Sokol Auditorium</a></td>
								<td>Sold Out</td>
								<td>Sold Out</td>
							</tr>
							<tr>
								<td>Nov 9</td>
								<td>Denver, CO</td>
								<td><a href="http://www.ogdentheatre.com/" target="blank">Ogden Theater</a></td>
								<td><a href="http://bit.ly/pktden" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 11</td>
								<td>Boise, ID</td>
								<td><a href="http://www.cttouringid.com/listing/revolution-concert-house" target="blank">Revolution</a></td>
								<td><a href="http://bit.ly/pktboise" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 12</td>
								<td>Seattle, WA</td>
								<td><a href="http://www.stgpresents.org/" target="blank">Paramount Theatre</a></td>
								<td><a href="http://bit.ly/pktseattle" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 14</td>
								<td>San Francisco, CA</td>
								<td><a href="http://www.thewarfieldtheatre.com/" target="blank">The Warfield</a></td>
								<td><a href="http://bit.ly/pktsf" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 15</td>
								<td>Reno, NV</td>
								<td><a href="http://re.knittingfactory.com/" target="blank">Knitting Factory</a></td>
								<td><a href="http://bit.ly/pktreno" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 16</td>
								<td>Orange County, CA</td>
								<td><a href="http://www.observatoryoc.com/" target="blank">Observatory</a></td>
								<td><a href="http://bit.ly/pktsanta" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 18</td>
								<td>Los Angeles, CA</td>
								<td><a href="http://www.thewiltern.net/" target="blank">Wiltern</a></td>
								<td><a href="http://bit.ly/pktlax" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 19</td>
								<td>Phoenix, AZ</td>
								<td><a href="http://luckymanonline.com/" target="blank">Marquee Theatre</a></td>
								<td><a href="http://bit.ly/pktphx" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 20</td>
								<td>Albuquerque, NM</td>
								<td><a href="http://www.sunshinetheaterlive.com/" target="blank">Sunshine Theater</a></td>
								<td><a href="http://bit.ly/pktabq" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 22</td>
								<td>Austin, TX</td>
								<td><a href="http://stubbsaustin.com/concert-listings" target="blank">Stubb's</a></td>
								<td><a href="http://bit.ly/pktatx" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 23</td>
								<td>Dallas, TX</td>
								<td><a href="http://southsideballroomdallas.com/" target="blank">South Side Ballroom</a></td>
								<td><a href="http://bit.ly/pktdallas" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 25</td>
								<td>Indianapolis, IN</td>
								<td><a href="http://www.oldnationalcentre.com/" target="blank">Egyptian Room</a></td>
								<td><a href="http://bit.ly/pktindy" target="_blank">Buy now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 26</td>
								<td>Chicago, IL</td>
								<td><a href="http://jamusa.com/riviera-theatre/" target="blank">Riviera Theater</a></td>
								<td><a href="http://bit.ly/pktchicago" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 28</td>
								<td>New York City, NY</td>
								<td><a href="http://www.theateratmsg.com/" target="blank">Theater @ MSG</a></td>
								<td><a href="http://bit.ly/pktnyc" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 29</td>
								<td>Philadelphia, PA</td>
								<td><a href="http://www.liacourascenter.com/" target="blank">Liacouras Center</a></td>
								<td><a href="http://bit.ly/pktphilly" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Nov 30</td>
								<td>Cleveland, OH</td>
								<td><a href="http://www.houseofblues.com/cleveland/" target="blank">House of Blues</a></td>
								<td>Sold Out</td>
								<td>Sold Out</td>
							</tr>
							<tr>
								<td>Dec 3</td>
								<td>Silver Spring, MD</td>
								<td><a href="http://www.fillmoresilverspring.com/" target="blank">The Fillmore</a></td>
								<td><a href="http://bit.ly/pktmd" target="_blank">Buy now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Dec 4</td>
								<td>Charlotte, NC</td>
								<td><a href="http://www.fillmorecharlottenc.com/" target="blank">Fillmore</a></td>
								<td><a href="http://bit.ly/pktnc" target="_blank">Buy now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Dec 5</td>
								<td>Atlanta, GA</td>
								<td><a href="http://www.tabernacleatl.com/" target="blank">Tabernacle</a></td>
								<td><a href="http://bit.ly/pktatl" target="_blank">Buy now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Dec 6</td>
								<td>Orlando, FL</td>
								<td><a href="http://www.thebeacham.com/" target="blank">The Beacham</a></td>
								<td>Sold Out</td>
								<td>Sold Out</td>
							</tr>
							<tr>
								<td>Dec 9</td>
								<td>Nashville, TN</td>
								<td><a href="http://anthem.do615.com/" target="blank">Anthem</a></td>
								<td><a href="http://bit.ly/pkttn" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
							<tr>
								<td>Dec 30</td>
								<td>Boston, MA</td>
								<td><a href="http://www.houseofblues.com/boston/" target="blank">House of Blues</a></td>
								<td><a href="http://bit.ly/pktboston" target="_blank">Buy Now</a></td>
								<td>On sale 9/5</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="about" class="section">
	<div class="container content">
		<div class="row">
			<div class="col-sm-12">
				<div class="bar"></div>
				<h1>ABOUT</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>Twitter</h2>
				<a class="twitter-timeline" href="https://twitter.com/chiddybang" data-tweet-limit="3" data-widget-id="531584020497178624" data-theme="dark" data-chrome="noheader nofooter noborders  transparent">Tweets by @chiddybang</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="col-md-6">
				<h2>Instagram</h2>
				<iframe src="http://widget.websta.me/in/realchiddy/?s=115&w=3&h=3&b=0&p=25" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:420px; height: 420px; margin-right: -25px;" ></iframe>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		var navi = ('.nav-bottom');
		var slidein = ('.slide-in');
		var music = ("#music");
		var navmusic = (".nav-music");
		var shows = ("#shows");
		var navshows = ('.nav-shows');
		var about = ("#about");
		var navabout = (".nav-about");
		var navli = ("#index .nav-container .slide-in ul li");

		$('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {

		        var target = $(this.hash);
		        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html,body').animate({
		                 scrollTop: target.offset().top
		            }, 750);
		            return false;
		        }
		    }
		});

		$(navi).waypoint(function(direction) {
			if (direction == 'down') {
		  		$(this).addClass('nav-fixed');
		  	} else {
		  		$(this).removeClass('nav-fixed');
		  	}
		});

		$(music).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navmusic).addClass('active');
			} else {
				$(navmusic).removeClass('active')
			}
		})
		$(shows).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navshows).addClass('active');
			} else {
				$(navshows).removeClass('active')
				$(navmusic).addClass('active');
			}
		})
		$(about).waypoint(function(direction) {
			if (direction == 'down') {
				$(navli).removeClass('active');
				$(navabout).addClass('active');
			} else {
				$(navabout).removeClass('active')
				$(navshows).addClass('active');
			}
		})

		$(".news").mCustomScrollbar({
			theme:"light-3",
			scrollInertia: 150
		});

	});
</script>