<div id="index">
	<div class="nav-container">
		<div class="navbar">
			<a href="/main/home_1">Home 1</a>
			<a href="/main/home_2">Home 2</a>
			<a href="/main/home_3">Home 3</a>
		</div>
	</div>
	<span class="helper"></span><img class="home-img" src="/assets/home_img.jpg" />
</div>