/* line 6, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.section {
  min-height: 100%;
  white-space: nowrap;
  position: relative;
}
/* line 11, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.section .bar {
  width: 60px;
  height: 5px;
  margin: auto;
  display: block;
  margin-top: 25px;
  background: #fff;
}
/* line 20, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.section h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 40px;
  text-transform: uppercase;
  display: inline-block;
                      /*
border-top: 4px solid #fff;*/
}

/* line 32, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.content {
  padding-top: 40px;
  text-align: center;
  height: 100%;
}
/* line 37, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.content .content-img {
  width: 100%;
  margin: auto;
  margin-top: 80px;
}

/* line 44, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.nav-container {
  display: inline-block;
  width: 100%;
  height: 65px;
  padding-top: 15px;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  position: relative;
}
/* line 53, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.nav-container a {
  display: inline-block;
  padding: 10px 15px 10px 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
/* line 62, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.nav-container a .fa {
  margin-left: 10px;
}
/* line 67, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.nav-container .crown {
  position: absolute;
  left: 50%;
  margin-left: -37px;
  padding: 0 0 0 0;
}
/* line 74, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
.nav-container .spacer {
  width: 120px;
  height: 30px;
  display: inline-block;
}

/* line 85, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#index .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 91, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#index .home-img {
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}
/* line 97, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#index .home-img-cut {
  width: 100%;
  height: 80%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  /*vertical-align: bottom;*/
  background: url("/assets/home_img_bg.png") no-repeat;
  background-size: contain;
  background-position: bottom left;
}
/* line 109, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#index .home-img-chiddy {
  width: 30%;
  left: 60%;
  height: 700px;
  display: inline-block;
  /*vertical-align: bottom;*/
  position: absolute;
  bottom: -200px;
  z-index: 5;
  background: url("/assets/home_img_chiddy.png") no-repeat;
  background-size: contain;
}

/* line 123, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music {
  padding-bottom: 80px;
}
/* line 126, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music h2 {
  text-align: center;
  color: #eee;
  font-size: 24px;
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* line 135, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music iframe {
  margin-top: 25px;
  margin-bottom: 120px;
}
/* line 140, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row {
  padding: 25px 0;
}
/* line 143, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row .album {
  position: relative;
}
/* line 146, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row .album .hover-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all ease-in-out .15s;
  -moz-transition: all ease-in-out .15s;
  -o-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
}
/* line 162, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row .album .hover-info h3 {
  font-size: 38px;
  font-weight: 300;
  color: #fff;
  text-align: left;
  padding-top: 20px;
  -webkit-transition: all ease-in-out .15s;
  -moz-transition: all ease-in-out .15s;
  -o-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
}
/* line 174, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row .album .hover-info p {
  color: #ddd;
  text-align: left;
  padding-top: 40px;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}
/* line 185, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row .album img {
  margin: auto;
  width: 100%;
}
/* line 193, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row .album:hover .hover-info {
  opacity: 1;
}
/* line 196, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row .album:hover .hover-info h3 {
  padding-top: 0;
}
/* line 200, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#music .album-row .album:hover .hover-info p {
  padding-top: 0;
}

/* line 208, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows {
  padding: 0 0 80px 0;
}
/* line 210, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows .shows-bg {
  width: 100%;
}
/* line 214, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows .shows-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  background-attachment: fixed;
  background-image: url("/assets/home_image_v2.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
/* line 229, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows table#tour {
  color: #fff;
  width: 80%;
  margin: auto;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  text-align: left;
}
/* line 239, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows table#tour thead th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.045);
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 246, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows table#tour tr {
  background: rgba(255, 255, 255, 0.05);
}
/* line 249, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows table#tour tr td {
  border-color: rgba(255, 255, 255, 0.045);
}
/* line 254, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows table#tour tr:nth-child(2n) {
  background: rgba(255, 255, 255, 0.075);
}
/* line 258, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows table#tour tr:hover {
  background: rgba(255, 255, 255, 0.15);
}
/* line 261, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#shows table#tour tr:hover td {
  border-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 271, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#about h2 {
  text-align: center;
  color: #eee;
  font-size: 24px;
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/*  /////////////  VERSION 2 //////////// */
/*  ///////////////////////////////////// */
/* line 285, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#links {
  text-align: center;
}
/* line 288, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#links .nav-link {
  text-decoration: none;
  font-family: 'Bangers';
  color: #FFA300;
  font-size: 34px;
  margin: 0 40px;
}
/* line 295, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#links .nav-link span {
  color: #FFA300;
}
/* line 299, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#links .nav-link .fuse {
  height: 5px;
  width: 100px;
  background: #FFA300;
  display: inline-block;
  margin-bottom: 9px;
  margin-left: 10px;
  z-index: 5;
  position: relative;
}
/* line 310, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#links .nav-link .spark-flicker {
  visibility: hidden;
  position: relative;
  z-index: 1;
  top: -2px;
  margin-left: -58px;
}
/* line 320, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#links .nav-link:hover .spark-flicker {
  visibility: visible;
}
/* line 324, /home/bryan/Documents/chiddybang/app/assets/stylesheets/main.css.scss */
#links .nav-link:hover .fuse {
  visibility: visible;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /home/bryan/Documents/chiddybang/app/assets/stylesheets/application.css.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 26, /home/bryan/Documents/chiddybang/app/assets/stylesheets/application.css.scss */
body {
  background: #000 !important;
  position: relative;
}

/* line 31, /home/bryan/Documents/chiddybang/app/assets/stylesheets/application.css.scss */
p, span, em, h1, h2, h3, h4, h5 {
  color: #fff;
}

/* line 35, /home/bryan/Documents/chiddybang/app/assets/stylesheets/application.css.scss */
#header-logo {
  padding-top: 150px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
  width: 800px;
  margin: auto;
}
/* line 43, /home/bryan/Documents/chiddybang/app/assets/stylesheets/application.css.scss */
#header-logo .spark-top {
  position: absolute;
  top: 45px;
  left: 75px;
  z-index: 10;
  visibility: hidden;
}
/* line 51, /home/bryan/Documents/chiddybang/app/assets/stylesheets/application.css.scss */
#header-logo .spark-corner {
  position: absolute;
  right: -115px;
  top: 60px;
  z-index: 10;
  visibility: hidden;
}
/* line 59, /home/bryan/Documents/chiddybang/app/assets/stylesheets/application.css.scss */
#header-logo .chiddy {
  max-width: 910px;
  width: 423px;
  float: left;
  position: relative;
  z-index: 1;
  visibility: hidden;
}
/* line 68, /home/bryan/Documents/chiddybang/app/assets/stylesheets/application.css.scss */
#header-logo .bang {
  visibility: hidden;
  float: right;
  width: 375px;
}
