/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background: #000 !important;
	position: relative;
}

p, span, em, h1, h2, h3, h4, h5 {
	color: #fff;
} 

#header-logo {
	padding-top: 150px;
	padding-bottom: 80px;
	text-align: center;
	position: relative;
	width: 800px;
	margin: auto;

	.spark-top {
		position: absolute;
		top: 45px;
		left: 75px;
		z-index: 10;
		visibility: hidden;
	}

	.spark-corner {
		position: absolute;
		right: -115px;
		top: 60px;
		z-index: 10;
		visibility: hidden;
	}

	.chiddy {
		max-width: 910px;
		width: 423px;
		float: left;
		position: relative;
		z-index: 1;
		visibility: hidden;
	}

	.bang {
		visibility: hidden;
		float: right;
		width: 375px;
	}
}