// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.section {
	min-height: 100%;
	white-space: nowrap;
	position: relative;

	.bar {
		width: 60px;
		height: 5px;
		margin: auto;
		display: block;
		margin-top: 25px;
		background: #fff;
	}

	h1 {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		margin-top: 5px;
		margin-bottom: 40px;
		text-transform: uppercase;
		display: inline-block;/*
		border-top: 4px solid #fff;*/
	}
}

.content {
	padding-top: 40px;
	text-align: center;
	height: 100%;

	.content-img {
		width: 100%;
		margin: auto;
		margin-top: 80px;
	}
}

.crown {
	position: fixed;
	left: 50%;
	margin-left: -25px;
	margin-top: .5em;
	padding: 0 0 0 0;
	z-index: 100;
}

.nav-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 99;

	.nav-container {
		display: inline-block;
		width: 100%;
		height: 50px;
		background: rgba(0,0,0,.35);
		text-align: center;
		position: relative;

		h1 {
			position: absolute;
			left: 3%;
			font-family: 'Raleway', sans-serif;
			display: inline-block;
			font-weight: 200;
			margin-top: 0;
			color: rgba(255,255,255,.45);
			letter-spacing: 0px;
			line-height: 50px;
			-webkit-transition: all ease-in-out .15s;
		    -moz-transition: all ease-in-out .15s;
		    -o-transition: all ease-in-out .15s;
		    transition: all ease-in-out .15s;
		}

		.slide-in {
			position: absolute;
			width: 300px;
			left: -300px;
			top: 50px;
			height: 200px;
			-webkit-transition: all ease-in-out .15s;
		    -moz-transition: all ease-in-out .15s;
		    -o-transition: all ease-in-out .15s;
		    transition: all ease-in-out .15s;

		    ul {
		    	list-style-type: none;
		    	text-align: left;

		    	li {

		    		a {
			    		font-family: 'Open Sans', sans-serif;
			    		font-weight: 300;
			    		font-size: 1.5em;
			    		line-height: 2.5em;
			    		text-transform: uppercase;
			    		color: rgba(255,255,255,.3);
			    		text-decoration: none;
			    		-webkit-transition: all ease-in-out .15s;
					    -moz-transition: all ease-in-out .15s;
					    -o-transition: all ease-in-out .15s;
					    transition: all ease-in-out .15s;
			    	}
		    	}

		    	li.active {

		    		a {
		    			color: rgba(255,255,255,1);
		    		}
		    	}
		    }
		}

		a {
			display: inline-block;
			padding: 0 15px;
			font-family: "Open Sans", sans-serif;
			font-weight: 300;
			font-size: 14px;
			line-height: 50px;
			color: #fff;
			text-transform: uppercase;
			vertical-align: top;

			.fa {
				margin-left: 10px;
			}
		}

		.spacer {
			width: 120px;
			height: 30px;
			display: inline-block;
		}

		.social-icons {
			position: absolute;
			right: 0;
			top: 0;
			padding-right: 2em;

			.icon {
				float: left;
				line-height: 50px;
				width: 35px;
				height: 50px;
				font-size: 30px;
				padding: 0;
				color: rgba(255,255,255,.3);
				background-position: center;

			    img {
			    	vertical-align: top;
			    }
			}

			.icon:hover {
				color: rgba(255,255,255,0);
			}
		}
	}
}

.nav-fixed {
	position: fixed;
	height: 50px;
	top: 0;
	left: 0;

	.nav-container {

		h1 {
			left: 1%;
		}

		.slide-in {
			left: 0;
		}
	}
}


#index {

	.helper {
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}

	.home-img {
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width: 100%;
		background: url('/assets/home_bg.jpg') no-repeat;
		background-size: cover;
		background-position: center;
	}

	.home-img-cut {
		width: 100%;
		height: 80%;
		display: inline-block;
		position: absolute;
		bottom: 0;
		/*vertical-align: bottom;*/
		background: url("/assets/home_img_bg.png") no-repeat;
		background-size: contain;
		background-position: bottom left;
	}

	.index-continue {
		position: absolute;
		bottom: 0;
		width: 250px;
		left: 50%;
		margin-left: -125px;
		line-height: 50px;
		font-size: 1.5em;
		text-align: center;
		z-index: 200;
		color: rgba(255,255,255,.5);
		
	}

	.index-continue:hover {
		color: rgba(255,255,255,.85);
	}

	.home-img-chiddy {
		width: 30%;
		left: 60%;
		height: 700px;
		display: inline-block;
		/*vertical-align: bottom;*/
		position: absolute;
		bottom: -200px;
		z-index: 5;
		background: url("/assets/home_img_chiddy.png") no-repeat;
		background-size: contain;
	}
}

#music, #news {
	padding-bottom: 80px;
	background: url('/assets/page_bg_grid.png') repeat;

	h2 {
		text-align: center;
		color: #eee;
		font-size: 24px;
		padding-bottom:5px;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
	}

	iframe {
		margin-top: 25px;
		margin-bottom: 120px;
	}

	iframe#soundcloud-container {
		opacity:0;
		display: none;
	}

	.music-player {
		height: 400px;

		.play-button {
			width: 50px;
			height: 50px;
			background: transparent;
			border: 4px solid #fff;
			border-radius: 25px;
			position: relative;
			top: 85px;
			left: 8px;
			z-index: 10;
			cursor: pointer;
			text-align: center;
			-webkit-transition: all ease-in-out .15s;
		    -moz-transition: all ease-in-out .15s;
		    -o-transition: all ease-in-out .15s;
		    transition: all ease-in-out .15s;

			.play-icon {
				width: 0;
				height: 0;
				margin: auto;
				margin-top: 11px;
				border-style: solid;
				border-width: 9px 0 9px 15px;
				position: relative;
				left: 2px;
				border-color: transparent transparent transparent #fff;
				-webkit-transition: all ease-in-out .15s;
			    -moz-transition: all ease-in-out .15s;
			    -o-transition: all ease-in-out .15s;
			    transition: all ease-in-out .15s;
			}
		}

		.play-button:hover {
			box-shadow: 0 0 20px #eee;
		}

		.playing {

			.play-icon {
				border-radius: 2px;
				height: 20px;
				width: 15px;
				left: 0;
				border-width: 0px 5px 0px 5px;
				border-color: #fff;
			}
		}

		.progress-bar-container {
			width: 500px;
			margin: auto;
			height: 5px;
			display: block;
			float: none;
			background: rgba(255,255,255,.1);

			.pbar {
				height: 5px;
				background: #fff;
				width: 0;

				.dot {
					width: 10px;
					height: 10px;
					border-radius: 5px;
					background: #55f;
					position: relative;
					display: block;
					z-index: 5;
					top: -3px;
					right: -5px;
					float: right;
					box-shadow: 0px 0px 10px #fff;
				}
			}
		}
	}
	
	.news {
		padding: 8em 0;
		height: 60em;

		.news-row {
			padding-top: 3em;
			padding-bottom: 3em;
		}

		.news-box {
			border-bottom: 2px solid rgba(150,150,150,.5);

			.news-title {
				text-align: left;
				padding: 1em 0;
				border-top: 2px solid rgba(255,255,255,.75);

				h2 {
					text-align: left;
				}

			}

			.news-content {
				
				p {
					padding: 0 0 2em 0;
					color: #aaa;
					font-size: 1.1em;
					line-height: 1.6em;
					white-space: normal;
				}
			}
		}
	}

	.album-row {
		padding: 25px 0;

		.album {
			position: relative;

			.hover-info {
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				left:0;
				opacity: 0;
				background: rgba(0,0,0,0.85);
				z-index: 1;
				padding: 40px;
				white-space: normal;
				font-family: "Open Sans", sans-serif;
				-webkit-transition: all ease-in-out .15s;
			    -moz-transition: all ease-in-out .15s;
			    -o-transition: all ease-in-out .15s;
			    transition: all ease-in-out .15s;

			    h3 {
			    	font-size: 38px;
			    	font-weight: 300;
			    	color: #fff;
			    	text-align: left;
			    	padding-top: 20px;
			    	-webkit-transition: all ease-in-out .15s;
				    -moz-transition: all ease-in-out .15s;
				    -o-transition: all ease-in-out .15s;
				    transition: all ease-in-out .15s;
			    }

			    p {
			    	color: #ddd;
			    	text-align: left;
			    	padding-top: 40px;
			    	-webkit-transition: all ease-in-out .25s;
				    -moz-transition: all ease-in-out .25s;
				    -o-transition: all ease-in-out .25s;
				    transition: all ease-in-out .25s;
			    }
			}

			img {
				margin: auto;
				width: 100%;
			}
		}

		.album:hover {

			.hover-info {
				opacity: 1;

				h3 {
					padding-top: 0;
				}

				p {
					padding-top: 0;
				}
			}
		}
	}

	.news-bg {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}

	.news-smoke {
		position: absolute;
		top: 25em;
		left: 0;
		z-index: 1;
	}
}

#shows {
	padding: 3em 0 80px 0;

	.shows-bg {
		width: 100%;
	}

	.shows-bg::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
		opacity: .2;
		background-attachment: fixed;
		background-image: url('/assets/home_image_v2.png');
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	table#tour {
		color: #fff;
		width: 80%;
		margin: auto;
		border-top: 4px solid #fff;
		border-bottom: 4px solid #fff;
		text-align: left;

		thead {

			th {
				border-bottom: 1px solid rgba(255,255,255,.045);
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}

		tr {
			background: rgba(255,255,255,0.05);

			td {
				border-color: rgba(255,255,255,.045);
			}
		}

		tr:nth-child(2n) {
			background: rgba(255,255,255,0.075);
		}

		tr:hover {
			background: rgba(255,255,255,0.15);

			td {
				border-color: rgba(255,255,255,.1);
				border-bottom: 1px solid rgba(255,255,255,.1);
			}
		}
	}
}

#about {
	overflow: hidden;

	h2 {
		text-align: center;
		color: #eee;
		font-size: 24px;
		padding-bottom:5px;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
	}

	iframe.instagram-pics {
		
		.media-grid {

			li a {
				opacity: 1;
			}

			li a:hover {
				opacity: .5;
			}
		}
	}
}

/*  /////////////  VERSION 2 //////////// */
/*  ///////////////////////////////////// */


#links {
	text-align: center;
	
	.nav-link {
		text-decoration: none;
		font-family: 'Bangers';
		color: #FFA300;
		font-size: 34px;
		margin: 0 40px;

		span {
			color: #FFA300;
		}

		.fuse {
			height: 5px;
			width: 100px;
			background: #FFA300;
			display: inline-block;
			margin-bottom: 9px;
			margin-left: 10px;
			z-index: 5;
			position: relative;
		}

		.spark-flicker {
			visibility: hidden;
			position: relative;
			z-index: 1;
			top: -2px;
			margin-left: -58px;
		}
	}

	.nav-link:hover {
		.spark-flicker {
			visibility: visible;
		}

		.fuse {
			visibility: visible;
		}
	}
}