// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.section {
	min-height: 100%;
	white-space: nowrap;
	position: relative;

	.bar {
		width: 60px;
		height: 5px;
		margin: auto;
		display: block;
		margin-top: 25px;
		background: #fff;
	}

	h1 {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		margin-top: 5px;
		margin-bottom: 40px;
		text-transform: uppercase;
		display: inline-block;/*
		border-top: 4px solid #fff;*/
	}
}

.content {
	padding-top: 40px;
	text-align: center;
	height: 100%;

	.content-img {
		width: 100%;
		margin: auto;
		margin-top: 80px;
	}
}

.nav-container {
	display: inline-block;
	width: 100%;
	height: 65px;
	padding-top: 15px;
	background: rgba(0,0,0,.75);
	text-align: center;
	position: relative;

	a {
		display: inline-block;
		padding: 10px 15px 10px 5px;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;

		.fa {
			margin-left: 10px;
		}
	}

	.crown {
		position: absolute;
		left: 50%;
		margin-left: -37px;
		padding: 0 0 0 0;
	}

	.spacer {
		width: 120px;
		height: 30px;
		display: inline-block;
	}
}



#index {

	.helper {
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}

	.home-img {
		width: 100%;
		display: inline-block;
		vertical-align: bottom;
	}

	.home-img-cut {
		width: 100%;
		height: 80%;
		display: inline-block;
		position: absolute;
		bottom: 0;
		/*vertical-align: bottom;*/
		background: url("/assets/home_img_bg.png") no-repeat;
		background-size: contain;
		background-position: bottom left;
	}

	.home-img-chiddy {
		width: 30%;
		left: 60%;
		height: 700px;
		display: inline-block;
		/*vertical-align: bottom;*/
		position: absolute;
		bottom: -200px;
		z-index: 5;
		background: url("/assets/home_img_chiddy.png") no-repeat;
		background-size: contain;
	}
}

#music {
	padding-bottom: 80px;

	h2 {
		text-align: center;
		color: #eee;
		font-size: 24px;
		padding-bottom:5px;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
	}

	iframe {
		margin-top: 25px;
		margin-bottom: 120px;
	}
	
	.album-row {
		padding: 25px 0;

		.album {
			position: relative;

			.hover-info {
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				left:0;
				opacity: 0;
				background: rgba(0,0,0,0.85);
				z-index: 1;
				padding: 40px;
				font-family: "Open Sans", sans-serif;
				-webkit-transition: all ease-in-out .15s;
			    -moz-transition: all ease-in-out .15s;
			    -o-transition: all ease-in-out .15s;
			    transition: all ease-in-out .15s;

			    h3 {
			    	font-size: 38px;
			    	font-weight: 300;
			    	color: #fff;
			    	text-align: left;
			    	padding-top: 20px;
			    	-webkit-transition: all ease-in-out .15s;
				    -moz-transition: all ease-in-out .15s;
				    -o-transition: all ease-in-out .15s;
				    transition: all ease-in-out .15s;
			    }

			    p {
			    	color: #ddd;
			    	text-align: left;
			    	padding-top: 40px;
			    	-webkit-transition: all ease-in-out .25s;
				    -moz-transition: all ease-in-out .25s;
				    -o-transition: all ease-in-out .25s;
				    transition: all ease-in-out .25s;
			    }
			}

			img {
				margin: auto;
				width: 100%;
			}
		}

		.album:hover {

			.hover-info {
				opacity: 1;

				h3 {
					padding-top: 0;
				}

				p {
					padding-top: 0;
				}
			}
		}
	}
}

#shows {
	padding: 0 0 80px 0;
	.shows-bg {
		width: 100%;
	}

	.shows-bg::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
		opacity: .2;
		background-attachment: fixed;
		background-image: url('/assets/home_image_v2.png');
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	table#tour {
		color: #fff;
		width: 80%;
		margin: auto;
		border-top: 4px solid #fff;
		border-bottom: 4px solid #fff;
		text-align: left;

		thead {

			th {
				border-bottom: 1px solid rgba(255,255,255,.045);
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}

		tr {
			background: rgba(255,255,255,0.05);

			td {
				border-color: rgba(255,255,255,.045);
			}
		}

		tr:nth-child(2n) {
			background: rgba(255,255,255,0.075);
		}

		tr:hover {
			background: rgba(255,255,255,0.15);

			td {
				border-color: rgba(255,255,255,.1);
				border-bottom: 1px solid rgba(255,255,255,.1);
			}
		}
	}
}

#about {

	h2 {
		text-align: center;
		color: #eee;
		font-size: 24px;
		padding-bottom:5px;
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
	}
}

/*  /////////////  VERSION 2 //////////// */
/*  ///////////////////////////////////// */


#links {
	text-align: center;
	
	.nav-link {
		text-decoration: none;
		font-family: 'Bangers';
		color: #FFA300;
		font-size: 34px;
		margin: 0 40px;

		span {
			color: #FFA300;
		}

		.fuse {
			height: 5px;
			width: 100px;
			background: #FFA300;
			display: inline-block;
			margin-bottom: 9px;
			margin-left: 10px;
			z-index: 5;
			position: relative;
		}

		.spark-flicker {
			visibility: hidden;
			position: relative;
			z-index: 1;
			top: -2px;
			margin-left: -58px;
		}
	}

	.nav-link:hover {
		.spark-flicker {
			visibility: visible;
		}

		.fuse {
			visibility: visible;
		}
	}
}