<!DOCTYPE html>
<html>
<head>
  <title>Chiddybang</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100' rel='stylesheet' type='text/css'>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script src="https://cdn.rawgit.com/malihu/malihu-custom-scrollbar-plugin/master/jquery.mCustomScrollbar.concat.min.js"></script>
  <link href="https://cdn.rawgit.com/malihu/malihu-custom-scrollbar-plugin/master/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Bangers|Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<%= yield %>
	
</body>
</html>
